{% extends "core/base.html" %}
{% load static %}

{% block content %}

<div class="header">
    <h1>Dashboard de Indicadores</h1>
</div>

<div class="charts-container">
    <!-- Añade este bloque dentro de vistaIndicadores.html -->
        
    <div class="chart">
        <canvas id="standardizedChart"></canvas>
    </div>

    <div class="chart">
        <canvas id="magnetometroChart"></canvas>
    </div>
    <div class="chart">
        <canvas id="giroscopioChart"></canvas>
    </div>
    <div class="chart">
        <canvas id="acelerometroChart"></canvas>
    </div>
    <div class="chart">
        <canvas id="gpsChart"></canvas>
    </div>
    <div class="chart">
        <canvas id="barometroChart"></canvas>
    </div>
    <div class="chart">
        <canvas id="ruidoChart"></canvas>
    </div>
    <div class="chart">
        <canvas id="vibracionChart"></canvas>
    </div>
    
    <div class="chart">
        <h3>Estado de Históricos</h1>
        <canvas id="sensorDataChart"></canvas>
    </div>

{% endblock %} {% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment"></script>
<script src="{% static 'js/indicators.js' %}"></script>
<script>
  const UPDATE_INTERVAL = {{ update_interval }};
  const GET_LATEST_SENSOR_DATA_URL = "{% url 'sensor_data:get_latest50' %}";
</script>
{% endblock %}
