{% extends "core/base.html" %}
{% load static %}

{% block content %}

<section class="charts-container">
  <div class="chart">
    <canvas id="chart1"></canvas>
  </div>
  <div class="chart">
    <canvas id="chart2"></canvas>
  </div>
  <div class="chart">
    <canvas id="chart3"></canvas>
  </div>
  <div class="chart">
    <canvas id="chart4"></canvas>
  </div>
  <div class="chart">
    <canvas id="chart5"></canvas>
  </div>
  <div class="chart">
    <canvas id="chart6"></canvas>
  </div>
</section>

{% endblock %} {% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-chart-boxplot@0.2.0/dist/chartjs-chart-boxplot.min.js"></script>
<script src="{% static 'js/variables.js' %}"></script>
<script>
  const UPDATE_INTERVAL = {{ update_interval }};
  const GET_LATEST_SENSOR_DATA_URL = "{% url 'sensor_data:get_latest' %}";
</script>
{% endblock %}
